
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
body {
    margin: 0;
    background: #f0f0f0;
    padding: 20px;
    background: linear-gradient(rgba(14, 27, 59, 0.85), rgba(14, 27, 59, 0.85)),
              url('./img/finca.jpg') center/cover no-repeat;
      height: 100vh; /* Ocupa toda la altura de la pantalla */

}

h1 {
    text-align: center;
    font-size: 55px;
    color: white;

}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    font-size: 25px;
    padding: 15px;
    border-radius: 8px;
        text-align: center;
    color: white;
    width: 300px;
    height: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.alerta {
    background-color: #e74c3c;
}

.ok {
    background-color: #2ecc71;
}

.btn {
    position: absolute;
    top: 50%;       /* 50% desde arriba */
    left: 50%;      /* 50% desde la izquierda */
    transform: translate(-50%, -50%); /* lo corrige para que quede exacto */
    
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

form {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
        color: white;

}

select {
    padding: 5px;
    font-size: 30px;
}
@media (min-width: 480px) {
    h1 {
        font-size: 6vw;
    }
    form {
        font-size: 5vw;
    }
    select {
        font-size: 4vw;
    }
    .contenedor {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
    .card {
        font-size: 4vw;
    }
    .btn {
        font-size: 4vw;
    }
}

/* Media query para 768px (tablets) */
@media (min-width: 768px) {
    h1 {
        font-size: 55px;
    }
    form {
        font-size: 45px;
    }
    select {
        font-size: 30px;
    }
    .contenedor {
        grid-template-columns: repeat(5, 1fr); /* 3 columnas */
        gap: 15px;
    }
    .card {
        font-size: 25px;
    }
    .btn {
        font-size: 30px;
        max-width: 300px;
    }
}